:root {
  --primary: #fc9ae6; /* El color que deseas usar */
  --secunday: #ff86c8; /* Faltaba el punto y coma al final */
}
body {
  font-family: "Roboto";
  background-color: #f0e789;
}
/*botones flotantes de redes sociales*/
.botonFlotante{
  position: fixed;
  width: 4.5em;
  height: 4.5em;
  line-height: 3em;
  bottom: 1.5em;
  right: 1em;
  background-color: green;
  color: black;
  border-radius: 50%;
  text-align: center;
  display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
  z-index: 3;
  border: 3px solid white;
  transition: .3s;
}
.botonFlotante:hover{
 transition: .3s;
 width: 5em;
 height: 5em;
}
.IconoEstandar{
  height: 3em;
  width: 3.5em;
  color: white;
}
/* Barra de navegacion */
nav {
  height: auto;
  text-align: center;
  font-size: 1em;
}
.custome-nav {
  background-color: var(--primary);
}
.nav-item:hover {
  font-size: 1.3em;
  transition: 0.5s;
  font-weight: bold;
  border-bottom: rgba(0, 0, 0, 0.37) 0.5px solid;
  border-top: rgba(0, 0, 0, 0.37) 0.5px solid;
  font-weight: bold;
}
.nav-item {
  transition: 0.5s;
}
#logo {
  height: 4em;
  width: 4.5em;
  padding-left: 0.5em;
}
/* FIN */

/* Pag Principal Introduccion*/
.introduccion {
  background-image: url("Images/prueba.jpeg");
  background-size: cover;
  background-position: center;
  image-rendering: auto;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100vw;
  height: 70vh;
  margin-bottom: 1.5em;
  box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.45);
}
.text-container {
  background-color: rgba(0, 0, 0, 0.678);
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 1.3em;
}
.introduccion h1 {
  font-size: 3em;
}
.introduccion p {
  font-size: 1.3em;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffffc4;
  box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5em;
}
.box h2 {
  font-size: 2em;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .3em;
  color: rgba(0, 0, 0, 0.678);
  
}
.carousel-item img {
  width: 300px; /* Ajusta el ancho a 300px */
  height: 200px; /* Ajusta la altura a 200px */
  object-fit: cover; /* Asegura que la imagen se recorte para ajustarse */
}

.carousel {
  box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5em;
}

/* Añadir margen superior al contenido después del navbar */
.main-content {
  margin-top: 70px; /* Ajusta según sea necesario */
}
