:root {
  --primary: #fc9ae6; /* El color que deseas usar */
  --secunday: #ff86c8; /* Faltaba el punto y coma al final */
}
body {
  font-family: "Roboto";
  background-color: #f0e789;
}
/*botones flotantes de redes sociales*/
.botonWhatsApp{
  position: fixed;
  width: 4.5em;
  height: 4.5em;
  line-height: 3em;
  bottom: .5em;
  right: .5em;
  background-color: green;
  color: black;
  border-radius: 50%;
  text-align: center;
  display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
  z-index: 3;
  border: 3px solid white;
  transition: .3s;
}
.botonFacebook{
  position: fixed;
  width: 4.5em;
  height: 4.5em;
  line-height: 3em;
  bottom: 10.2em;
  right: .5em;
  background-color: rgb(0, 60, 128);
  color: black;
  border-radius: 50%;
  text-align: center;
  display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
  z-index: 3;
  border: 3px solid white;
  transition: .3s;
}
.botonInstagram{
  position: fixed;
  width: 4.5em;
  height: 4.5em;
  line-height: 3em;
  bottom: 5.3em;
  right: .5em;
  background-color: #db4c9d;
  color: black;
  border-radius: 50%;
  text-align: center;
  display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
  z-index: 3;
  border: 3px solid white;
  transition: .3s;
}
.botonFlotante:hover{
 transition: .3s;
 width: 5em;
 height: 5em;
}
.IconoEstandar{
  height: 3em;
  width: 3.5em;
  color: white;
}
/*-FIN-*/
/* Barra de navegacion */
nav {
  height: auto;
  text-align: center;
  font-size: 1em;
}
.hamburguesa{
  background-color:  #e7dd6a;
}
.custome-nav {
  background-color: var(--primary);
}
.nav-item:hover {
  padding: .2em 0;
  font-size: 1.2em;
  transition: 0.5s;
  font-weight: bold;
  font-weight: bold;
}
.nav-item {
  transition: 0.5s;
}
#logo {
  height: 4em;
  width: 4.5em;
  padding-left: 0.5em;
}
.borderTop{
  border-top: 1px solid rgba(0, 0, 0, 0.411);
}
.navbar{
padding-bottom: 0px;
}
/* FIN */

/* Pag Principal Introduccion*/
.introduccion {
  background-image: url("Images/introduccion.jpeg ");
  background-size: cover;
  background-position: center;
  image-rendering: auto;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100vw;
  height: 70vh;
  margin-bottom: 1.5em;
  box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.45);
}
.text-container {
  background-color: rgba(0, 0, 0, 0.30);
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 1.3em;
  font-weight: 500;
}
.introduccion h1 {
  font-size: 2.5em;
}
.introduccion p {
  font-size: 1.3em;
  padding: .5em;
  border-radius: 15px;
}
.boxTextFondant{
margin: 1em 0;
padding: .5em;
border-radius: 5px;
background-color: white;
box-shadow: 1px 5px 5px 0px rgba(80, 80, 80, 0.404);
}
.tipoProductosBox{
  text-align: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffffc4;
  box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.7);
  margin-bottom: 1.5em;
}
.box h3,p{
 font-weight: 550;
 margin-bottom: 0;
}
hr{
  margin: .5em;
}
.box h2 {
  font-size: 2em;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  color: rgba(0, 0, 0, 0.753);
  border: 1.5px solid rgba(17, 17, 17, 0.932);
  border-top: none;
  background-color: rgba(235, 129, 245, 0.486);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 5px 5px 0px rgba(80, 80, 80, 0.404);
}
.Contactanos{
  background-color: rgb(54, 44, 54);
  margin-bottom: 1.6em;
  box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.textoContactenos{
  margin-bottom: 1em;
}
.Contactanos h2, .Contactanos p {
  color: white;
}
.Contactanos button{
  width: 15em;
  height: 3em;
  margin-bottom: .7em;
  transition: 1s;
  font-weight: 800;
  background-color: #e694e6;
  color: white;
  border: white 2px solid;
}
.Contactanos button:hover{
font-size: 1.2em;
transition: 1s;
}
.carousel-item img {
  width: 100%;
  height: 25em;
  object-fit: fill; 
}
.carousel {
  box-shadow: 1px 5px 18px 0px rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5em;
}
.main-content {
  margin-top: 70px; 
}
